body {font-family: Arial,Verdana,Helvetica,Sans-serif;font-size: 12px;color:#bbb;background:#000;padding:0px;margin:0px;}
a { color: #bbb; }
img { border: none; }
/*
h1 {color:#000000;font-size:20px;font-weight:bold;margin-bottom:13px;}
h2 {font-size:15px;font-weight:bold;margin-bottom:10px;margin-top:0px;}
h3 {border-bottom:2px solid #680808;color:#000000;font-size:20px;font-weight:bold;margin-bottom:13px;margin-top:0px;}
h4 {border-bottom:1px solid #333333;font-size:15px;font-weight:bold;margin-bottom:10px;}
h5 {}
hr {background-color:#7C2424;border:0 none;color:#7C2424;height:1px;}

p {line-height:1.2em;margin:0 0 13px;}

ul { margin-top:5px; }
*/
.strong { font-weight: bold; }

#page-container { width: 960px; margin: 0 auto; overflow:auto; }

#header {  }
#menu-container { height: 62px; margin-top:40px; float: right; }
.menu-end, .menu-item { float: left; line-height: 60px; height: 60px; }
.menu-item { display: block; width: 80px; cursor: pointer; background-image: url('../img/menu.png'); text-decoration: none; }
.menu-item.play { background-position: -8px top;}
.menu-item.team { background-position: -88px top;}
.menu-item.news { background-position: -168px top;}
.menu-item.events { background-position: -248px top;}
.menu-item.bands { background-position: -328px top;}
.menu-item.play:hover { background-position: -8px bottom;}
.menu-item.team:hover { background-position: -88px bottom;}
.menu-item.news:hover { background-position: -168px bottom;}
.menu-item.events:hover { background-position: -248px bottom;}
.menu-item.bands:hover { background-position: -328px bottom;}


#horz-ad-container { line-height: 100px; text-align: center; color:#999;}
#horz-ad-right { float: right; height: 100px; margin-left: 10px; width: 745px; background: #333;}
#horz-ad-left { float: left; height: 100px; width: 205px; background: #333; }

.content-box { background: #1f1f1f repeat-x top url("../img/content_box_gradient.png"); padding: 3px; margin-top:10px; }
.content-box-title { font-size: 18px; font-weight: bold; height: 24px; display: block; margin: 2px 4px 1px 4px; }
.content-box > h2 { margin: 0; font-size: 20px; }
.content-box h3 { margin-top: 0; }
.content-box > div { margin-top: 0px; padding: 5px; background: #1f1f1f repeat-x top url("../img/content_box_inner_gradient.png"); }

.follow-link > img { float: left; margin: 3px 4px 5px 3px; border: none;}

.news-featured-video, .news-headline, .event-headline { clear: both; margin-left:3px; padding: 5px 0; border-bottom: solid 1px #333;}
.news-featured-video > a { float:left; display:block; }
.news-featured-video > a > img { width: 200px; height: 130px; }
.news-featured-video > h3 { margin: 5px 0 5px 210px;}
.news-featured-video > p { padding: 3px 0 3px 220px; margin: 0;}

.news-headline > h3 { margin: 0; padding: 0 0 0 3px;}
.news-headline > p { padding: 3px 0 0 10px; margin: 0;}
.news-headline > a { text-align: right; display: block; padding-right: 5px; }


.event-headline > h3 { margin: 0; padding: 0 0 0 3px; font-size: 12px; }
.event-headline > p { padding: 3px 0 0 10px; margin: 0;}
.event-headline > a { text-align: right; display: block; padding-right: 5px; }

#main-left-container {float: left; width: 205px; margin-right: 10px; }
#main-container-small {float: left; width: 524px; }
#main-container {float: left; width: 739px; }
#main-right-container {float: right; width: 205px; margin-left: 10px; }

#events-cal > div { min-height: 220px; }
#now-playing > div { height:200px;}
#featured-bands > div { min-height: 120px;}

.featured-band > h3 { margin: 0; padding: 0 0 0 55px;}
.featured-band > p { padding: 3px 0 0 55px; margin: 0;}
.featured-band > a {text-align: right; display: block; padding-right: 5px;}
.featured-band img { width: 50px; height: 50px; float: left;}

 
#footer { font-size: 11px; text-align:center; clear:both; height: 30px; padding: 5px 0px; }

#generic-dialog { display: none; }

/*
#rightSide { width: 630px; float: right; }

#mainContent { padding: 10px 20px 10px 10px; color:#060; }
#mainContent h2 { clear: both; }
#mainContent span { text-align:center; }
#mainContent a { color:#060; }
#mainContent a:hover { color:#090; }


#header { width: 100%; height: 90px; color: #060; }

#headerTitle { padding:10px 20px 0px 0px;font-size: 18px; float:left; }
#headerTitle img {float:left;padding-right:10px;}

#contactInfo { padding:10px 20px 0px 0px; font-size:11px; float:right; color:#006600; }
#contactInfo span { font-weight: bold; }



#googleMap { width: 500px; height:400px; margin: 20px auto; clear:both; }

#pictureFrame { margin:auto; width:516px; padding:5px; background-color:#060; }
#pictureFrame img { text-align:center; vertical-align:middle; }

#textFrame { background-color: #fdfcec; border:solid 1px #060; margin: 20px auto; width:516px; padding:5px;  }

#testimonials { }
#testimonials span { font-size: 20px; font-weight: bold; }
#testimonials div { background-color: #fdfcec;margin: 20px 10px; border: solid 1px #060; padding:10px; }

#contactInfoLarge { overflow:auto; }
#contactInfoLarge div { margin: 10px 0; }
#contactInfoLarge .ciLeft { clear:left; float:left; text-align:right; font-weight:bold; width:140px; height:24px; background:url(oval-orange-150.png) top right no-repeat;
							line-height: 24px; padding: 0 10px; } 
#contactInfoLarge .ciRight { float:left;text-align: left; padding: 4px 15px 0 15px; max-width:400px; }
#contactInfoLarge .ciRight span { font-weight:bold; }


.clearBoth {clear:both;}
.clearLeft {clear:left;}
.clearRight {clear:right;}

.imageHeadShot {border:1px solid #7C2424;float:right;margin:0 0 10px 10px;text-align:center;}
.imageHeadShot img { vertical-align:middle; margin:auto;}
.imageRight { float:right; padding: 0px 0px 3px 10px; }

.thickbox img { border: solid 1px #060; margin: 20px 35px 20px 35px; }

.listHeader { margin-bottom:5px; }
*/



