<div class="event-headline">
	<h3>03/10/2012: Dive Bomber - Club 710 Pacific Beach, Ca</h3>
	<p>Dive Bomber will be playing Club 710 in Pacific Beach, Ca on March, 10th 2012 at 8:00 pm.</p>
	<a href="http://www.divebomber.org" target="_blank">read more...</a>
</div>

<div class="event-headline">
	<h3>03/27/2012: Dive Bomber - Viper Room, Hollywood Ca</h3>
	<p>Dive Bomber will be playing the Viper Room in Hollywood, Ca on March, 27th 2012 at 8:00 pm.</p>
	<a href="http://www.divebomber.org" target="_blank">read more...</a>
</div>