<div class="featured-band">
	<img src="img/dive-bomber/divebomber.jpg" alt="" />
	<h3>Dive Bomber</h3>
	<p>Band info here</p>
	<a href="http://www.divebomber.org" target="_blank">read more...</a>
</div>